<div class="jumbotron">
    <h1>Breeze.BusinessTime Example Application</h1>
    <p class="lead">Breeze.BusinessTime provides .NET server extensions for enforcing entity authorization and other such business rules in a pipeline.</p>
    <p><a href="https://github.com/timgit/Breeze.BusinessTime" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-right"></span> The codes!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <form role="form" name="form">
            <fieldset>
                <legend>Customer data</legend>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="firstName" />
                </div>
                
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" />
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success" disabled="">Save</button>
                    <span class="help-block">Not implemented yet!</span>
                </div>
            </fieldset>

        </form>
    </div>
</div>