<div class="jumbotron">
    <h1>Breeze.BusinessTime - Example Application</h1>
    <p class="lead">Breeze.BusinessTime provides .NET server extensions for enforcing entity authorization and other such business rules in a pipeline.</p>
    <p><a href="https://github.com/timgit/Breeze.BusinessTime" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-right"></span> The codes!</a></p>
</div>


<div class="row" ng-controller="homeController">
    <div class="col-md-6">
        <form role="form" name="form">
            <fieldset>
                <legend>Dealer data</legend>
                
                <div class="alert alert-success" ng-if="vm.saveSucceeded">
                    <strong>Dealer saved successfully.</strong>
                </div>   

                <div class="alert alert-danger" ng-if="vm.errors">
                    <strong>Failed</strong>
                    <ul>
                        <li ng-repeat="error in vm.errors">{{error.errorMessage}}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" ng-model="dealer.Name" />
                    <span class="help-block">Setting Name is allowed only for Dealers and Admins.</span>
                </div>
                
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="Address" ng-model="dealer.Address" />
                </div>
                
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="Phone" ng-model="dealer.Phone" />
                </div>
                
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="Preferred" ng-model="dealer.Preferred"> Preferred
                    </label>
                    <span class="help-block">Changing Preferred is only allowed for admins. (See PreferredDealerProcessor)</span>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-success" ng-click="vm.save()">Save</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Dealer JSON:</h4>
        <pre>{{dealer._backingStore | json}}</pre>
    </div>
</div>