<h2>Sign In</h2>
<div>
    <br/>
    <form method="post" action="@Url.RequestContext.HttpContext.Request.Url">
        <input type="hidden" name="name" value="Owner Olliver" />
        <input type="hidden" name="role" value="Owner" />
        <button type="submit">Log in as Owner</button>
    </form>
</div>
<div>
    <br/>
    <form method="post" action="@Url.RequestContext.HttpContext.Request.Url">
        <input type="hidden" name="name" value="Dealer Dan" />
        <input type="hidden" name="role" value="Dealer" />
        <button type="submit">Log in as Dealer</button>
    </form>    
</div>
<div>
    <br/>
    <form method="post" action="@Url.RequestContext.HttpContext.Request.Url">
        <input type="hidden" name="name" value="Andy Admin" />
        <input type="hidden" name="role" value="Admin" />
        <button type="submit">Log in as Admin</button>
    </form>
</div>