<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <p class="navbar-text">Signed in as @User.Identity.Name</p>
        <li>@Html.ActionLink("Log off", "LogOff", "Home")</li>
    }
    else
    {
        <li>@Html.ActionLink("Log in", "LogIn", "Home")</li>
    }
</ul>